%footer.footer__wrapper
  .footer__innner
    %ul.contents
      %li.content
        %h2.content__head ScoreListsについて
        %ul
          %li= link_to '会社概要（運営会社）', '#', class: "footer-link"
          %li= link_to 'プライバシーポリシー', '#', class: "footer-link"
          %li= link_to 'ScoreLists利用規約', '#', class: "footer-link"
      %li.content
        %h2.content__head ScoreListsを見る
        %ul
          %li= link_to '取り扱っているスコアリスト', '#', class: "footer-link"
          %li= link_to 'ユーザーの利用例', '#', class: "footer-link"
      %li.content
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li= link_to 'ScoreListsガイド','#', class: "footer-link"
          %li= link_to 'ScoreListsロゴ利用ガイドライン', '#', class: "footer-link"
          %li= link_to 'お知らせ', '#', class: "footer-link"
  .footer__logo
    .footer__logo__text
      © ScoreLists