.header
  .header__inner
    .header__inner__left
      %h1.title
        ScoreLists
    .header__inner__right
      %ul.header__inner__right__list
        - if user_signed_in?
          %li.header__inner__right__list__login
            = link_to "/users/#{current_user.id}" do
              %span マイページ
          %li.header__inner__right__list__new
            = link_to destroy_user_session_path, method: :delete do
              %span ログアウト
        - else
          %li.header__inner__right__list__login
            = link_to new_user_session_path do
              %span ログイン 
          %li.header__inner__right__list__new
            = link_to new_user_registration_path do
              %span 新規登録