.sign-up
  .sign-up__message
    %h2 新規登録
    %br/
    %h4 SCORELISTへようこそ
    %br/
    %p.sign-up__message--text
      会員登録されていない方は以下のフォームに記入をお願いします
  .sign-up__form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :nickname, "ニックネーム"
        %span.require 必須
        %br/
        = f.text_field :nickname
        -# = f.text_field :nickname, autofocus: true
      .field
        = f.label :email
        %span.require 必須
        %br/
        = f.email_field :email, autocomplete: "email"
      .field
        = f.label :password
        %span.require 必須
        %br/
        - if @minimum_password_length
          %em.field__message
            #{@minimum_password_length} 文字以上入力してください
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :password_confirmation
        %span.require 必須
        %p.field__message
          確認のためもう一度入力してください
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "新規登録"
.devise__shared__links
  = render "devise/shared/links"
.back
  = link_to root_path do
    トップページにもどる
