= render partial: "template/header"

.new__studyscore
  .new__studyscore__title
    %h2 共通テスト模試の結果を登録しよう！
  .new__studyscore__message
    共通テストの模試などの結果を登録できます
    %br/
    受験していない科目は空欄のままで登録してください
  .new__studyscore__form
    =form_with model: @study_score ,class:"new__studyscore__form__box",local: true do |f|
      .f__studyscore__field
        = f.label :test_name, "テスト名"
        %br/
        = f.text_field :test_name, placeholder: "テストの名前を入力してください"
      .f__studyscore__field
        = f.label :test_date, "テストを実施した日付"
        %br/
        = f.date_select :test_date
      .f__studyscore__field
        = f.label :japanese, "国語"
        %br/
        = f.number_field :japanese, class: "f__studyscore__field__japanese"
      .f__studyscore__field
        = f.label :math1a, "数Ia"
        %br/
        = f.number_field :math1a, class: "f__studyscore__field__math1a"
      .f__studyscore__field
        = f.label :math2b, "数IIb"
        %br/
        = f.number_field :math2b, class: "f__studyscore__field__math2b"
      .f__studyscore__field
        = f.label :worldhistory, "世界史"
        %br/
        = f.number_field :worldhistory, class: "f__studyscore__field__worldhistory"
      .f__studyscore__field
        = f.label :japanesehistory, "日本史"
        %br/
        = f.number_field :japanesehistory, class: "f__studyscore__field__japanesehistory"
      .f__studyscore__field
        = f.label :modernsociety, "現代社会"
        %br/
        = f.number_field :modernsociety, class: "f__studyscore__field__modernsociety"
      .f__studyscore__field
        = f.label :geography, "地理"
        %br/
        = f.number_field :geography, class: "f__studyscore__field__geography"
      .f__studyscore__field
        = f.label :chemistry, "化学"
        %br/
        = f.number_field :chemistry, class: "f__studyscore__field__chemistry"
      .f__studyscore__field
        = f.label :physics, "物理"
        %br/
        = f.number_field :physics, class: "f__studyscore__field__physics"
      .f__studyscore__field
        = f.label :english_l, "英語(リスニング)"
        %br/
        = f.number_field :english_l, class: "f__studyscore__field__english_l"
      .f__studyscore__field
        = f.label :english_r, "英語(リーディング)"
        %br/
        = f.number_field :english_r, class: "f__studyscore__field__english_r"
      .new__studyscore__total
        .new__studyscore__total__title
          合計点
        .new__studyscore__total__score
      .f__submit
        = f.submit "登録する", class: "f__submit__btn", disabled: true
      .f__submit__errormessage
        // ここにエラーメッセージを表示
  // ボーダー
  .border
  // ボーダー

  .back
    = link_to root_path do
      .back__btn
        トップページにもどる
      