.new__studyscore
  %h2
    テスト結果の登録
  .new__studyscore__form
    =form_with model: @study_score ,class:"new__studyscore__form__box",local: true do |f|
      .f__field
        = f.label :test_name, "テスト名"
        = f.text_field :test_name, placeholder: "テストの名前を入力してください"
      .f__field
        = f.label :test_date, "テストを実施した日付"
        = f.date_select :test_date
      .f__field
        = f.label :japanese, "国語"
        = f.number_field :japanese
      .f__field
        = f.label :math1a, "数Ia"
        = f.number_field :math1a
      .f__field
        = f.label :math2b, "数IIb"
        = f.number_field :math2b
      .f__field
        = f.label :worldhistory, "世界史"
        = f.number_field :worldhistory
      .f__submit
        = f.submit "登録する"
  .back
    = link_to root_path do
      トップページにもどる
      