= render partial: "template/header"

.mypage
  .mypage__inner
    %h2.mypage__title
      マイページ
    %p.mypage__describe
      プロフィールの編集や、自分の成績の詳細を閲覧することができます
    .mypage__user__info
      .mypage__user__info--title
        ユーザー名
        %br/
      .mypage__user--info--name
        = @nickname
    .mypage__user__link-to-scores
      .mypage__user__link-to-scores__message
        過去に登録したスコアを確認するにはこちら
      .mypage__user__link-to-scores__studyscore

      .mypage__user__link-to-scores__toeicscore
        = link_to toeic_scores_path do
          TOEIC L&R のスコアを閲覧する

      .mypage__user__link-to-scores__studyscore
        = link_to study_scores_path do
          共通テストのスコアを閲覧する 

  // ボーダー
  .border
  // ボーダー

  .back
    = link_to root_path do
      .back__btn
        トップページにもどる
