= render partial: "template/header"

.mypage
  .mypage__inner
    
    %h2.mypage__title
      マイページ
      %br/
    %h4.mypage__title--sub
      User Page
    %p.mypage__describe
      プロフィールの編集や、自分の成績の詳細を閲覧することができます
    // ボーダー
    .border
    // ボーダー
    .mypage__user__info
      .mypage__user__info--title
        ユーザー名
        %br/
      .mypage__user__info--name
        = @nickname

    // ボーダー
    .border
    // ボーダー
    
    .mypage__user__edit
      .mypage__user__edit__message
        ニックネームやパスワードの変更はこちら
      = link_to edit_user_registration_path do
        .mypage__user__edit__btn
          ニックネームやパスワードを変更する 

    // ボーダー
    .border
    // ボーダー
    
    .mypage__user__link-to-scores
      .mypage__user__link-to-scores__message
        過去に登録したスコアを確認するにはこちら

      .mypage__user__link-to-scores__links
        .mypage__user__link-to-scores__toeicscore
          = link_to toeic_scores_path do
            .mypage__user__link-to-scores__links__btn--toeic
              TOEIC L&R のスコアを閲覧する

        .mypage__user__link-to-scores__studyscore
          = link_to study_scores_path do
            .mypage__user__link-to-scores__links__btn--study
              共通テストのスコアを閲覧する

        .mypage__user__link-to-scores__score

  // ボーダー
  .border
  // ボーダー

  .back
    = link_to root_path do
      .back__btn
        トップページにもどる
