.login
  .login__message
    %h2 ScoreListsへログイン
    %br/
    %h4 おかえりなさい！
    %br/
  .login__form
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field__checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "ログイン", class: 'actions__btn'
.link_to__new_password_path
  = link_to "パスワードを忘れてしまったらこちらへ", new_password_path(resource_name)
  %br/
.link_to__new_registration_path
  = link_to "新規登録", new_user_registration_path

.back
  = link_to root_path do
    トップページにもどる
