= render partial: "template/header"

.index__toeicscore
  .index__toeicscore__title
    TOEIC L&Rのスコアの記録
  .index__toeicscore__list
    .index__toeicscore__list__administration
      .index__toeicscore__list__administration__title
        テストの開催回
      -# - @toeic_scores.each do |toeic_score|
      -#   .index__toeicscore__list__administration__number
      -#     = toeic_score.administration_number
      = render partial: "administrationnumber", locals: { toeic_score: @toeic_score }

    .index__toeicscore__list__testdate
      .index__toeicscore__list__testdate__title
        テストの開催日
      = render partial: "testdate", locals: { toeic_score: @toeic_score }
      -# - @toeic_scores.each do |toeic_score|
      -#   .index__toeicscore__list__testdate__date
      -#     = toeic_score.test_date
    
    .index__toeicscore__list__listening
      .index__toeicscore__list__listening__title
        リスニング
      = render partial: "listening_score", locals: { toeic_score: @toeic_score }
      -# - @toeic_scores.each do |toeic_score|
      -#   .index__toeicscore__list__listening__score
      -#     = toeic_score.listening_score
    
    .index__toeicscore__list__reading
      .index__toeicscore__list__reading__title
        リーディング
      - @toeic_scores.each do |toeic_score|
        .index__toeicscore__list__reading__score
          = toeic_score.reading_score
    
    .index__toeicscore__list__total
      .index__toeicscore__list__total__title
        合計スコア
      - @toeic_scores.each do |toeic_score|
        .index__toeicscore__list__total__score
          = toeic_score.total_score
    
  // ボーダー
  .border
  // ボーダー

  .index__toeicscore__link-to-newscore
    .index__toeicscore__link-to-newscore__message
      新しくTOEIC L&Rのスコアを登録するにはこちらへ
    = link_to new_toeic_score_path do
      .index__toeicscore__link-to-newscore__btn
        新しいTOEIC L&Rのスコアを登録する

  // ボーダー
  .border
  // ボーダー

  .link-to-userpage
    = link_to "/users/#{current_user.id}" do
      .link-to-userpage__btn
        マイページにもどる

  .back
    = link_to root_path do
      .back__btn
        トップページにもどる