= render partial: "template/header"

.index__toeicscore
  .index__toeicscore__title
    今まで登録したTOEIC L&Rのスコアを確認できます
  .index__toeicscore__body
    - @toeic_scores.each do |toeic_score|
      .index__toeicscore__list
        .index__toeicscore__list__administration
          テストの開催回
          = toeic_score.administration_number
        .index__toeicscore__list__test_date
          テストの開催日
          = toeic_score.test_date
        .index__toeicscore__list__listening_score
          リスニング
          = toeic_score.listening_score
        .index__toeicscore__list__reading_score
          リーディング
          = toeic_score.reading_score
        .index__toeicscore__list__total_score
          合計スコア
          = toeic_score.total_score

  // ボーダー
  .border
  // ボーダー
  
  .back
    = link_to root_path do
      .back__btn
        トップページにもどる