= render partial: "template/header"

.new__toeicscore
  .new__toeicscore__title
    %h2 新しいTOEIC L&Rのスコアを登録しよう
    %h4 TOEIC L&R のスコアを記録しましょう
  .new__toeicscore__form
    =form_with model: @toeic_score ,class:"new__toeicscore__form__box",local: true do |f|
      .f__field
        = f.label :test_date, "テストを実施した日付"
        %br/
        = f.date_select :test_date
      .f__field
        = f.label :administration_number, "受験したテストの開催回"
        %br/
        = f.number_field :administration_number
      .f__field
        = f.label :listening_score, "Listening Score"
        %br/
        = f.number_field :listening_score, class: "f__field__score__listening_score"
      .f__field
        = f.label :reading_score, "Reading Score"
        %br/
        = f.number_field :reading_score, class: "f__field__score__reading_score"
      .new__toeicscore__total
        .new__toeicscore__total__title
          Total Score
        .new__toeicscore__total__score
          —
      .f__submit
        = f.submit "登録する", class: "f__submit__btn", disabled: true
      .f__submit__errormessage
        // ここに入力されたフォームの数値が5の倍数じゃなかった場合のエラーメッセージを表示
  // ボーダー
  .border
  // ボーダー
  .back
    = link_to root_path do
      .back__btn
        トップページにもどる
    