.show__toeicscore 
  .show__toeicscore__inner
    .show__toeicscore__inner__title
      TOEIC L&R スコアの詳細
    .show__toeicscore__inner__describe
      各スコアの編集、削除、またスコアに対するコメントができます
    .show__toeicscore__inner__main
      
      -# %ul.show__toeicscore__inner__main__list
      -# %li
      -#   = link_to '詳細', "/toeic_scores/#{toeic_score.id}", method: :get
      -# - if user_signed_in? && current_user.id == toeic_score.user_id
      -#   %li
      -#     = link_to '編集', "/toeic_scores/#{toeic_score.id}/edit", method: :get
      -#   %li
      -#     = link_to '削除', "/toeic_scores/#{toeic_score.id}", method: :delete



.container
    - if current_user
      = form_with(model: [@toeic_score, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメント・メモを残す", rows: "2"
        = form.submit "コメント・メモを送信する"
    - else
      %strong
        %p ※※※ コメント・メモの投稿にはスコアを登録した人のログインが必要です ※※※
  .comments
    %h4 コメント・メモ
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
            ：
          = comment.text