.show__toeicscore 
  .show__toeicscore__inner
    .show__toeicscore__inner__title
      TOEIC L&R スコアの詳細
    .show__toeicscore__inner__describe
      各スコアの編集、削除、またスコアに対するコメントができます
    .show__toeicscore__inner__main
      



.container
    - if current_user
      = form_with(model: [@toeic_score, @comment], local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2"
        = form.submit "SEND"
    - else
      %strong
        %p ※※※ コメント・メモの投稿にはスコアを登録した人のログインが必要です ※※※
  .comments
    %h4 コメント・メモ
    - if @comments
      - @comments.each do |comment|
        %p
          %strong
            = link_to comment.user.nickname, "/users/#{comment.user_id}"
            ：
          = comment.text